body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #2956aa, #2a5298);
}
.background{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}
.content{
    height: 100vh;
    overflow: auto;
    padding: 30px 0;
    
}
.content::-webkit-scrollbar{
    display: none;
}
.dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
}
h1 {
    text-align: center;
    color: white;
    margin-bottom: 25px;
}
.card {
    background: white;
    width: 350px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
     border: 1px solid rgba(223, 217, 217, 0.7);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}
.balance-card {
    text-align: center;
    width: 350px;
}
.balance {
    font-size: 32px;
    color: #2a5298;
    margin: 10px 0;
}
.type {
    color: rgb(16, 14, 14);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
table th {
    background-color: #f8f3f358;
     border: 1px solid rgba(238, 230, 230, 0.7);
}
.credit {
    color: green;
    font-weight: bold;
}
.debit {
    color: red;
    font-weight: bold;
}
.logout {
    width: 100%;
    padding: 12px;
    background-color: #d9534f;
    border: none;
    border-radius: 1px;
    font-size: 16px;
    cursor: pointer;
}
.logout:hover {
    background-color: #c9302c;
}

