* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    transition: 0.3s;
}
body.dark {
    background: url("https://images.unsplash.com/photo-1521791136064-7986c2920216")
                no-repeat center/cover;
    color: rgb(36, 22, 22);
}
body.light::before {
     content:"";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    background:url("https://c8.alamy.com/comp/2S65741/business-and-finance-icons-image-over-black-grid-background-2S65741.jpg");
      background-size: cover;
       background-position: center; 
       filter:blur(4px);         

}
.toggle {
    position: absolute;
    top: 20px;
    right: 20px;
}
.toggle button {
    padding: 10px 16px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.glass-card {
    width: 380px;
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(40, 39, 39, 0.25);
}
body.dark .glass-card {
    background: rgba(14, 12, 12, 0.15);
}
body.light .glass-card {
    background: rgba(255,255,255,0.55);
}
.glass-card h2 {
    text-align: center;
    margin-bottom: 20px;
}
label {
    margin-top: 10px;
    display: block;
}
input, select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 5px;
}
body.dark input,
body.dark select {
    background: rgba(10, 9, 9, 0.25);
    color: rgb(31, 28, 28);
}
body.light input,
body.light select {
    background: rgba(0,0,0,0.08);
    color: black;
}
button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(135deg, #070707, #585a5c);
    color: rgb(237, 227, 227);
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    transform: scale(1.05);
}
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(21, 20, 20, 0.6);
    justify-content: center;
    align-items: center;
}
.modal-box {
    padding: 30px;
    border-radius: 15px;
    background: rgba(45, 43, 43, 0.85);
    text-align: center;
    width: 300px;
}
.modal-box h3 {
    margin-bottom: 10px;
}
